.headergrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 100px repeat(11, 75px);
}
.logo {
  background: #d3d3d3;
  grid-column: 2 / 4;
  grid-row: 1;
}
@@font-face {
  font-family: "ShorelinesScriptBold";
  src: url('ShorelinesScriptBold.otf');
}
.logo h1 {
  color: #ffffff;
  font-family: 'ShorelinesScriptBold';
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  background-color: #fff;
  display: flex;
  justify-content: center;
  text-align: right;
  grid-column: 4 / 10;
  grid-row: 1;
  padding-top: 5px;
}
nav {
  text-align: right;
}
nav ul li {
  display: inline;
}
nav ul li a {
  color: #d3d3d3;
  font-family: 'ShorelinesScriptBold';
  font-size: 1.75em;
  padding: 15px;
  margin: 0;
  text-decoration: none;
}
.banner {
  background: url('img/photos-jars3-pa.jpg');
  background-size: cover;
  grid-column: 1 / 10;
  grid-row: 2 / 13;
}
.heading {
  font-family: 'ShorelinesScriptBold';
  font-size: 2.5em;
  color: #fff;
  grid-column: 5 / 9;
  grid-row: 11 / 13;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maingrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(20, 95px);
  grid-gap: 5px;
  margin-top: 100px;
}
.firstphoto {
  background: url('img/photos-jars1-pa.jpg');
  background-size: cover;
  grid-column: 2 / 6;
  grid-row: 1 / 5;
}
.firsttext {
  background-color: #d3d3d3;
  grid-column: 6 / 9;
  grid-row: 1 / 7;
}
.firsttext p {
  font-family: 'Poiret One';
  font-size: 1.4em;
  color: #808080;
  margin: 3%;
}
.secondtext {
  background-color: #d3d3d3;
  grid-column: 2 / 9;
  grid-row: 5 / 8;
}
.secondtext p {
  font-family: 'Poiret One';
  font-size: 1.4em;
  color: #808080;
  margin: 1%;
}
.secondphoto{
  background: url('img/photos-jars4-pa.jpg');
  background-size: contain;
  grid-column: 2 / 4;
  grid-row: 8 / 10;
  justify-content: center;
}
.thirdphoto{
  background: url('img/photos-jars5-pa.jpg');
  background-size: contain;
  grid-column: 2 / 4;
  grid-row: 10 / 12;
}
.fourthphoto {
  background: url('img/photos-jars6-pa.jpg');
  background-size: contain;
  grid-column: 2 / 4;
  grid-row: 12 / 14;
}
.fifthphoto {
  background: url('img/photos-jars7-pa.jpg');
  background-size: contain;
  grid-column: 2 / 4;
  grid-row: 14 / 16;
}
.sixthphoto {
  background: url('img/photos-jars8-pa.jpg');
  background-size: contain;
  grid-column: 2 / 4;
  grid-row: 16 / 18;
}
.seventhphoto {
  background: url('img/photos-jars9-pa.jpg');
  background-size: contain;
  grid-column: 2 / 4;
  grid-row: 18 / 20;
}
.footergrid {
  display: grid;
  background: url('img/brick-background-pa.jpg');
  background-size: cover;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(4, 85px);
  font-family: 'Poiret One';
  margin-top: 300px;
}
.address {
  grid-column: 4 / 7;
  grid-row: 2 / 4;
  border-right: #383838 solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.name {
  grid-column: 7 / 10;
  grid-row: 2 / 4;
  border-right: #383838 solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialmedia {
  grid-column: 10 / 13;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.socialmedia ul li {
  display: inline;
  padding: 15px;
  text-decoration: none;
}















/*header {
  background-image: url('img/photos-jars3-pa.jpg');
  background-size: contain;
}
body {
  background-image: url('img/peach-background-pa.jpg');
  background-size: cover;
}
nav {
  text-align: right;
  /*border-bottom: #5f5f5f solid 2px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  color: #d2aad3;
  font-family: 'Poiret One';
  font-size: 35px;
  padding: 15px;
  text-decoration: none;
}
@font-face {
  font-family: 'ShoreLinesScript';
  src: url(fonts/ShoreLinesScriptBold.otf);
}
h1 {
  top: 250px;
  color: #cbd1d8;
  font-family: 'Shorelinesscript';
  font-size: 100px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
}
p {
  font-family: 'Poiret One';
  font-size: 24px;
  color: #5f5f5f;
  text-align: center;
}
img {
  width: 25%;
  height: auto;
}
footer {
  text-align: center;
  position: relative;
  top: 200px;
}
footer h2 {
  color: #5f5f5f;
  font-family: 'Poiret One';
  font-size: 25px;
  text-transform: lowercase;
}
.socialmedia ul li {
  display: inline;
  padding: 15px;
  text-decoration: none;
}
.socialmedia ul li:first-child {
  border-right: #d3d3d3 solid 2px;
}
*/
